[project]
name = "acoustix"
version = "0.1.0"
description = "Dynamic acoustic simulation for robotic navigation and localization"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[project.optional-dependencies]
test = [
    "pytest",
    "pytest-xdist",
]
